PORT=8787
WXM_CMS_DATA_DIR=./data
WXM_CMS_ALLOWED_ORIGINS=https://wxmoneradio.com,https://www.wxmoneradio.com
WXM_CMS_ADMIN_PASSWORD_SHA256=replace_with_sha256_password_hash
WXM_CMS_SESSION_SECRET=replace_with_64_random_hex_chars
WXM_CMS_SECURE_COOKIE=1
WXM_CMS_PUBLIC_BASE_URL=https://cms.wxmoneradio.com
